---
layout: layouts/home.njk
eleventyNavigation:
  key: בית
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<img src="{{ '/assets/img/confetti.jpg' | url }}" alt="עובדי רד הט חוגגים עם קונפטי">

<section id="stats">

  <h2>בשנה האחרונה. עובדי רד האט בארץ תרמו לפרוייקטים שונים בגיטהאב...</h2>

  <rh-stat top="statistic">
    <span slot="title">Commits</span>
    <span slot="statistic">{{ contributors.totalCommitContributions }}</span>
    <p slot="description"></p>
  </rh-stat>

  <rh-stat top="statistic">
    <span slot="title">Issues</span>
    <span slot="statistic">{{ contributors.totalIssueContributions }}</span>
    <p slot="description"></p>
  </rh-stat>

  <rh-stat top="statistic">
    <span slot="title">PRs</span>
    <span slot="statistic">{{ contributors.totalPullRequestContributions }}</span>
    <p slot="description"></p>
  </rh-stat>

  <rh-stat top="statistic">
    <span slot="title">Reviews</span>
    <span slot="statistic">{{ contributors.totalPullRequestReviewContributions }}</span>
    <p slot="description"></p>
  </rh-stat>

  <rh-stat top="statistic">
    <span slot="title">Repositories</span>
    <span slot="statistic">{{ contributors.totalRepositoryContributions }}</span>
    <p slot="description"></p>
  </rh-stat>

  <rh-stat top="statistic">
    <span slot="title">Gists</span>
    <span slot="statistic">{{ contributors.totalGists }}</span>
    <p slot="description"></p>
  </rh-stat>

</section>

{% if (repos | length) > 0 %}
<section id="repos">
  <h2>מהפרוייקטים שאנחנו תורמי ם אליהם</h2>
  {% for repo in repos | randomSort | slice(5) %}
  <github-repository owner-repo="{{ repo }}"></github-repository>
  {% endfor %}
</section>
<script type="module" src="https://unpkg.com/github-repository@0.4.0/dist/github-repository.js?module"></script>
{% endif %}

<h2>{% if maxPosts == 1 %}
  הפוסט האחרון {% else %}
  {{ maxPosts }} הפוסטים האחרונים{% endif %}
</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>יש עוד פוסטים <a href="{{ '/posts/' | url }}">בארכיון</a>.</p>

<style>
#stats {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
</style>
