---
layout: layouts/home.njk
eleventyNavigation:
  key: בית
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>{% if maxPosts == 1 %}
  הפוסט האחרון {% else %}
  {{ maxPosts }} הפוסטים האחרונים{% endif %}
</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>יש עוד פוסטים <a href="{{ '/posts/' | url }}">בארכיון</a>.</p>
