:root {
  --main-nav-active-item-shadow: inset 3px 0 0 0 var(--rh-color-brand-red-on-light);
}

[dir=rtl] {
  --main-nav-active-item-shadow: inset -3px 0 0 0 var(--rh-color-brand-red-on-light);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--rh-font-family-body-text);
  font-size: var(--rh-font-size-body-text-sm);
  line-height: var(--rh-line-height-body-text);
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--rh-font-weight-heading-medium);
  font-family: var(--rh-font-family-heading);
}

h2.rh-header {
  text-align: center;
  font-weight: var(--rh-font-weight-heading-bold);
  font-size: var(--rh-font-size-heading-lg);
  font-family: var(--rh-font-family-body-text)
}

pre,
code {
  font-family: var(--rh-font-family-code);
  line-height: var(--rh-line-height-body-text);
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: var(--rh-color-surface-lighter);
}

code {
  word-break: break-all;
}

img {
  max-width: 100%;
}

#hero {
  background: black;
  overflow: hidden;
  display: grid;
  color: white;
  font-weight: bold;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  grid-template-areas: 'banner' 'subtitle';
  place-items: center;
  font-family: var(--rh-font-family-body-text);

  & img {
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
    grid-row: -1/1;
    grid-column: -1/1;
  }

  & h1, p {
    width: 350px;
    z-index: 1;
    margin: 0;
  }

  & h1 {
    font-size: 50px;
    align-self: end;
    grid-area: banner;
    width: 310px;
  }

  & p {
    font-size: var(--rh-font-size-body-text-lg, 1.125rem);
    align-self: start;
    text-align: center;
    grid-area: subtitle;
  }
}

#main-header {
  height: var(--rh-length-4xl);
  padding-inline: var(--rh-space-lg);
  background-color: var(--rh-color-surface-darkest);
  color: var(--rh-color-text-primary-on-dark);
  display: flex;
  flex-flow: column;

  & a[href] {
    color: var(--rh-color-interactive-blue-lighter);
    margin-block: auto;
    &:visited {
      color: var(--rh-color-interactive-purple-lighter);
    }
  }

  & img {
    max-height: var(--rh-length-xl);
  }
}

p:last-child {
  margin-bottom: 0;
}

a[href] {
  color: var(--rh-color-interactive-blue-darker);
  &:visited {
    color: var(--rh-color-interactive-purple-darker);
  }
}

#stats h2 {
  grid-column: -1/1;
}

#repos {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
  gap: var(--rh-space-6xl);
  background-color: var(--rh-color-surface-light);
  padding-block: var(--rh-space-5xl);
  & pf-card {
    width: 300px;
    &::part(header) {
      display: flex;
      gap: var(--rh-space-lg);
    }
    &::part(footer) {
      display: flex;
      gap: var(--rh-space-lg);
    }
  }
  & img {
    width: var(--rh-size-icon-03);
  }
  & [slot="footer"]:last-of-type {
    margin-inline-start: auto;
  }
}

rh-footer {
  grid-area: foot;
  &:not(:defined) {
    width: 100vw;
    display: block;
    height: 756px;
    max-height: 756px;
    background-color: var(--rh-color-black-800);
    & * {
      display: none;
    }
  }
}

:is(rh-global-footer, rh-footer-universal) {
  &.no-links::part(primary) { display: none; }
  &.no-secondary-links::part(secondary) { display: none; }
}

.tmpl-post {
  padding: var(--rh-space-md) var(--rh-space-xl);
  display: grid;
  gap: var(--rh-space-xl);
  grid-template-areas: 'head head' 'body side';
  grid-template-columns: auto 300px;
  & #cover-image {
    display: block;
  }
  & header {
    grid-area: head;
  }
  & aside {
    grid-area: side;
    & ul {
      padding: 0;
      list-style-type: none;
      &#post-tags li {
        display: inline;
      }
    }
  }
  & #post-body {
    grid-area: body;
  }
}

@media (max-width: 600px) {
  .tmpl-post {
    display: grid;
    grid-template-areas: 'head' 'body' 'side';
    grid-template-columns: auto;
  }
}
