:root {
  --main-nav-active-item-shadow: inset 3px 0 0 0 var(--rh-color-brand-red-on-light);
}

[dir=rtl] {
  --main-nav-active-item-shadow: inset -3px 0 0 0 var(--rh-color-brand-red-on-light);
}

html,
body {
  margin: 0;
  font-family: var(--rh-font-family-body-text, 'RedHatText', 'Overpass', Overpass, Helvetica, Arial, sans-serif);
  font-size: var(--rh-font-size-body-text-sm, 0.875rem);
  line-height: var(--rh-line-height-body-text, 1.5);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--rh-font-weight-heading-medium, 500);
  font-family: var(--rh-font-family-heading, 'RedHatDisplay', 'Overpass', Overpass, Helvetica, Arial, sans-serif);
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--rh-font-family-body-text);
  color: var(--rh-color-text-primary-on-light);
  background-color: var(--rh-color-surface-lightest);
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 273px auto;
  grid-template-rows: 64px auto max-content;
  grid-template-areas:
    'head head'
    'side main'
    'foot foot';
}

rh-footer {
  grid-area: foot;
  &:not(:defined) {
    width: 100vw;
    display: block;
    height: 756px;
    max-height: 756px;
    background-color: var(--rh-color-black-800);
    & * {
      display: none;
    }
  }
}

#home{
  display: grid;    
  gap: var(--rh-space-6xl);  
}

.rh-header{
  text-align: center;   
  & h2{
  font-weight: bold;
  width: 500px;
  position: relative;
  right: 30%;
  font-size: 30px;
  font-family: var(--rh-font-family-body-text)
  }
}

#banner{
  background: black;
  overflow: hidden;  
  font-family: var(--rh-font-family-body-text);

  & img {
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  & #banner_sub_text{
    font-weight: bold;
    font-size: 15px;
    width: 350px;    
    color: white;
    text-align: center;
    position: absolute;
    top: 32%;
    right: 37%;
    transform: translate(-50%, -50%);  
  }
  
  & #banner_main_text{
    color: white;
    font-weight: bold;
    font-size: 50px;
    width: 300px;    
    position: absolute;
    top: 20%;
    right: 40%;
    transform: translate(-50%, -50%);
  }
}






rh-global-footer {
  &.no-links::part(primary) { display: none; }
  &.no-secondary-links::part(secondary) { display: none; }
}

#main-header {
  grid-area: head;
  padding-inline: var(--rh-space-lg);
  background-color: var(--rh-color-surface-darkest);
  color: var(--rh-color-text-primary-on-dark);

  & a[href] {
    color: var(--rh-color-interactive-blue-lighter);
    &:visited {
      color: var(--rh-color-interactive-purple-lighter);
    }
  }

  & img {
    max-height: var(--rh-length-xl);
  }
}

#main-sidebar {
  grid-area: side;
  & nav {
    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      & ul {
        display: none;
        padding-inline-start: var(--rh-space-xl);
        & li {
          font-size: var(--rh-font-size-body-text-xs);
        }
      }
      & li {
        line-height: 36px;
        & a {
          display: block;
          text-decoration: none;
          transition: background-color .25s;
          font-size: 18px;
          padding: .5em 32px;
          color: var(--rh-color-text-primary-on-light);
        }
        &.expandable > a::after {
          content: "";
          color: var(--rh-color-text-primary-on-light);
          width: 9px;
          height: 9px;
          rotate: 45deg;
          border-right: 3px solid var(--rh-color-text-primary-on-light);
          border-top: 3px solid var(--rh-color-text-primary-on-light);
          display: flex;
          float: right;
          top: 13px;
          position: relative;
        }
        &.has-active.expandable > a::after {
          rotate: 135deg;
        }
        &.active.expandable ul,
        &.has-active ul {
          display: block;
        }
        &.active {
          & a {
            background: var(--rh-color-surface-lighter);
            box-shadow: var(--main-nav-active-item-shadow);
          }
        }
      }
    }
  }
}

main {
  grid-area: main
}

p:last-child {
  margin-bottom: 0;
}

a[href] {
  color: var(--rh-color-interactive-blue-darker);
  &:visited {
    color: var(--rh-color-interactive-purple-darker);
  }
}



pre,
code {
  font-family: var(--rh-font-family-code);
  line-height: var(--rh-line-height-body-text);
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: var(--rh-color-surface-lighter);
}

code {
  word-break: break-all;
}

img {
  max-width: 100%;
}

#stats h2 {
  grid-column: -1/1;
}

#repos {
  display: flex;
  flex-flow: row wrap;
  gap: var(--rh-space-md);
  & h2 {
    width: 100%;
  }
}
