<!doctype html>
<html lang="{{ metadata.language }}"{{ (' dir="rtl"' | safe) if metadata.language == 'he' }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="preconnect" href="https://www.redhat.com">
    <link rel="preconnect" href="https://static.redhat.com">
    <link rel="shortcut icon" href="https://www.redhat.com/misc/favicon.ico" type="image/x-icon">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all">
    <link rel="stylesheet" href="{{ '/assets/css/rhds.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/prism.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/prism-diff.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/packages/@rhds/elements/elements/rh-footer/rh-footer-lightdom.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/packages/@rhds/elements/elements/rh-navigation-secondary/rh-navigation-secondary-lightdom.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/packages/@rhds/elements/elements/rh-pagination/rh-pagination-lightdom.css' | url }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+Hebrew" rel="stylesheet">
    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
    {% endif %}
    <noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | url }}"></noscript>

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.7.0/dist/es-module-shims.js"></script>
    <script type="importmap">{{ (importMap | importMapURLs) | dump | safe }}</script>
    <script type="module">
    import { PfIcon } from '@patternfly/elements/pf-icon/pf-icon.js';
    const iconBase = '{{"/assets/packages/@patternfly/elements/pf-icon/icons"|url}}';
    PfIcon.getIconUrl = (set, icon) => new URL(`${iconBase}/${set}/${icon}.js`, new URL(location.origin));;
    PfIcon.prototype.load = async function load() {
      const { set, icon, } = this;
      const getter = PfIcon.getters.get(set) ?? PfIcon.getIconUrl;
      let pathname = 'UNKNOWN ICON';
      if (set && icon) {
        try {
          ({ pathname } = getter(set, icon));
          const mod = await import(pathname);
          this.content = mod.default instanceof Node ? mod.default.cloneNode(true) : mod.default;
          await this.updateComplete;
          this.dispatchEvent(new Event('load', { bubbles: true }));
        } catch (error) {
          const event = new IconLoadError(pathname, error);
          console.error.error(error.message);
          this.dispatchEvent(event);
        }
      }
    }
    import 'element-internals-polyfill';
    import '@rhds/elements/rh-alert/rh-alert.js';
    import '@rhds/elements/rh-pagination/rh-pagination.js';
    import '@rhds/elements/rh-footer/rh-footer.js';
    import '@rhds/elements/rh-navigation-secondary/rh-navigation-secondary.js';
    import '@rhds/elements/rh-stat/rh-stat.js';
    import '@rhds/elements/rh-tag/rh-tag.js';
    import '@rhds/elements/rh-cta/rh-cta.js';
    </script>
  </head>
  <body>
    <header>
      <div id="main-header">
        <a href="{{ '/' | url }}">
          <img src="{{ 'https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg' | url }}" alt="{{ metadata.title }}"/>
        </a>
      </div>
      <rh-navigation-secondary role="navigation">
        <a href="{{ '/' | url }}" slot="logo" id="logo-id">
          רד הט ישראל
        </a>{% set navPages = collections.all | eleventyNavigation %}
        <ul slot="nav" aria-labelledby="logo-id">{%- for entry in navPages %}
          <li class="{% if entry.url == page.url %} active {% endif %}{%
                        if (entry.children | hasUrl(page.url)) %} has-active {% endif %}{%
                        if (entry.children.length) -%} expandable {% endif %}">{%- if entry.children.length -%}
            <rh-navigation-secondary-dropdown>
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              <rh-navigation-secondary-menu slot="menu">
                <rh-navigation-secondary-menu-section>
                  <ul slot="links" aria-labelledby="ansible-platform"">{%- for child in entry.children %}
                    <li>
                      <a href="{{ child.url | url }}" slot="link">{{ child.title }}</a>
                    </li>{% endfor -%}
                  </ul>
                </rh-navigation-secondary-menu-section>
              </rh-navigation-secondary-menu>
            </rh-navigation-secondary-dropdown>{%- else -%}
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>{%- endif -%}
          </li>{%- endfor %}
          <li><a href="https://talkingopen.podbean.com/">הסכת - מדברים פתוח</a></li>
          <li><a href="https://careers-redhat.icims.com/jobs/search?ss=1&searchLocation=13269--Raanana&mobile=false&width=1140&height=500&bga=true&needsRedirect=false&jan1offset=120&jun1offset=180">קריירה בישראל</a></li>
        </ul>
        <rh-cta slot="cta">
          <a href="{{ '/#stats' | url }}">להתחיל</a>
        </rh-cta>
      </rh-navigation-secondary>
    </header>

    <main
      {% if templateClass %}class="{{ templateClass }}"{% endif %}
      {% if lang %}lang="{{ lang }}"{% endif %}
      {% if dir %}dir="{{ dir }}"{% endif %}>
      {{ content | safe }}
    </main>

    <rh-footer>
      <a slot="logo" href="{{ '/' | url }}">
        <img src="{{ 'https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg' | url }}" alt="Red Hat Israel logo" loading="lazy"/> 
      </a>{% for link in footer.socialLinks %}
      <rh-footer-social-link slot="social-links">
        <a href="{{ link.href | url }}">
          <pf-icon icon="{{ link.icon }}" set="{{ link.iconSet or 'fab' }}">{{ link.content }}</pf-icon>
        </a>
      </rh-footer-social-link>{% endfor %}{% for column in footer.links %}
      <h3 slot="links">{{ column.heading }}</h3>
      <ul slot="links">{% for link in column.links %}
        <li><a href="{{ link.href | url }}">{{ link.content }}</a></li>{% endfor %}
      </ul>{% endfor %}{% for block in footer.secondary %}
      <rh-footer-block slot="main-secondary">
        <h3 slot="header">{{ block.heading }}</h3>
        {% renderTemplate "njk,md", block %}{{ content | safe }}{% endrenderTemplate %}
      </rh-footer-block>{% endfor %}
      <rh-global-footer slot="global" class="{{
        'no-links' if not (footer.globalLinks.length)
      }} {{
        'no-secondary-links' if not (footer.globalLinksSecondary.length)
      }}">{% if footer.globalLinks.length %}
        <h3 slot="links-primary" hidden>Red Hat legal and privacy links</h3>
        <ul slot="links-primary">{% for link in footer.globalLinks %}
          <li><a href="{{ link.href | url }}">{{ link.content }}</a></li>{% endfor %}
        </ul>{% endif %}{% if footer.globalLinksSecondary.length %}
        <rh-footer-copyright slot="links-secondary"></rh-footer-copyright>
        <h3 slot="links-secondary" hidden>Red Hat legal and privacy links</h3>
        <ul slot="links-secondary">{% for link in footer.globalLinksSecondary %}
          <li><a href="{{ link.href | url }}">{{ link.content }}</a></li>{% endfor %}
        </ul>{% endif %}{#
        <div slot="secondary-end">
          <a href="#">*We’ve updated our privacy statement effective December 30, 202X.</a>
        </div>#}
      </rh-global-footer>
    </rh-footer>

    <!-- Google tag (gtag.js) -->
    <script async defer src="https://www.googletagmanager.com/gtag/js?id=G-JENJLEJFBY"></script>
    <script async defer>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-JENJLEJFBY');
    </script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
